.section-about {
    display: flex;
}

.img-about {
    width: 50vw;
    border-radius: 50px;
    height: auto;
    object-fit: cover;
    max-height: 80vh;
}

.about-text {
    font-size: 1.4rem;
    margin-left: 3rem;
    margin-top: 3rem;
    text-align: justify;
}

.mis-vis {
    padding: 1rem 0;
    font-size: 1.4rem;
    text-align: justify;
}

.nuestra-historia {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.nuestra-historia div {
    flex: 1; 
}

.img-story {
    max-height: 400px;
    border-radius: 50px;
    width: auto;
    object-fit: cover;
}

/*Responsividad */
@media (max-width: 1150px) {
    .about-text {
        font-size: 1.2rem;
    }

    .nuestra-historia {
        display: block;
    }
    .img-story {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .section-about {
        display: block;
        margin: 0;
    }

    .img-about {
        display: block;
        margin: 0 auto;
        width: 80vw
    }

    .about-text {
        margin-left: 0;
        font-size: 1.4rem;
    }

    .img-story {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .img-about {
        width: 70vw
    }
    .img-story {
        width: 70vw;
    }
}