.header-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.img-carousel {
    width: 90%; 
    height: auto 
}

.opciones {
    margin-top: 20px;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 100px;
}

.opc-card {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.img-opciones {
    border-radius: 50%;
    width: 280px;
    height: 280px;
}

/*Responsividad */

@media (max-width: 576px) {
    #myCarousel {
        display: none;
    }
}


@media (min-width: 577px) and (max-width: 992px) {
    .img-carousel {
        width: 100%;
    }
}